<%= render 'shared/navbar' %>
<div data-controller="form-modal">
  <!--div overlay-->
  <div data-form-modal-target="overlay"></div>
  <!--fin div overlay-->


  <% mission = (current_user.current_mission || current_user.missions.last) %>
  <div class="container" data-controller="tasks">
    <%# <% #unless current_user.missions.last.task.done %>
    <%# <% end %>
    <h1 class="index-title">Current task</h1>
    <div class="current-task-container">

      <div class="current-task-infos">
        <div  data-tasks-target="currentMission">
          <% if mission %>
            <%= render 'missions/current', mission: mission %>
          <% else %>
            <%= render 'shared/ghost_current' %>
          <% end %>
        </div>
      </div>

      <% if mission %>
        <div class="feedback-form-container" data-form-modal-target="formFeedback">
          <%= render "shared/feedback_form", review: @review, task: current_user.missions.last.task %>
        </div>
      <% end %>
    </div>

    <h1 class="index-title">To do list</h1>
    <div class="card-container">
      <div class="cards-list-container">
        <% @tasks.each do |task| %>
          <%= render 'shared/task_item', task: task %>
          <%#= render 'shared/task_card', task: task%>
        <% end %>
      </div>
    </div>

    <h1 class="index-title">Done tasks</h1>
    <div class="card-container">
      <div class="cards-list-container" data-tasks-target="doneItems">
        <% @done_tasks.each do |task| %>
          <%= render 'shared/task_item', task: task %>
          <%#= render 'shared/task_card', task: task%>
        <% end %>
      </div>
    </div>

  </div>
</div>
