<nav>
  <div class="nav-container">
    <%= link_to tasks_path, class: "text-decoration" do%>
      <div class="nav-logo" >
        <%= image_tag "sprint.png", class: "logo" %>
        <span>SPRINT </span>
      </div>
    <% end %>
    <div class="nav-menu">
      <span><%= link_to 'New project', new_project_path, class: "project-btn-text" %></span>
    </div>
  </div>
</nav>

      <!--<%= image_tag "controls.png", class: "menu-toggle"%>
      <span><%= link_to 'Connect with Trello', users_connect_trello_account_path %></span>-->
