<nav>
  <div class="nav-container">
    <%= link_to tasks_path, class: "text-decoration" do%>
      <div class="nav-logo" >
        <%= image_tag "sprint.png", class: "logo" %>
        <span>SPRINT </span>

        <%= current_user&.email %>

      </div>
    <% end %>
    <div class="nav-menu">
      <span><%= link_to 'Add a project', new_project_path %></span>
      <%= image_tag "controls.png", class: "menu-toggle"%>
    </div>
  </div>
</nav>
