
<div class="task-wrapper <%= "done-task-overlay" if task.done? %>" data-controller="task-item-description" data-task-item-description-target="resize" id="<%= task.id %>" >


  <div class="task-name" data-tasks-target="doneTaskNameOverlay" data-task-item-description-target="changeBackground">
    <p>
      <%= task.name.capitalize %>
    </p>
  </div>
  <div class="task-content" data-tasks-target="doneOverlay">

    <div class="task-informations">

      <div class="task-estimated-time">
        <p>
          <%= task.estimated_time_str %>
        </p>
      </div>

      <div class="task-description" >
        <span data-action="click->task-item-description#showDescription">
          Description<%= image_tag "play-64.png", class: "description-toggle"%>
        </span>
      </div>

      <div class="launch-task">
        <span data-task-id="<%= task.id %>" data-action="click->tasks#startTask">
          Play <%= image_tag "play-64.png", class: "play-task-icon"%>
        </span>
      </div>

    </div>

    <div class="task-description-content" data-task-item-description-target="description">
      <p><strong>Description:</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias tenetur omnis dolorem eveniet blanditiis</p>
    </div>

  </div>

</div>

<!--<%= task.desc %>-->
