<div class="card-container" data-controller="launch">
  <div class="top-card-container">
    <div class="flip-card" data-controller="modal" data-modal-target="card">

      <div class="card-front">
        <div class="card-top">
          <h4 data-cards-target="cards"><%= task.name %></h4>
          <button data-action="click->launch#openLaunch">Launch task</button>
        </div>
        <div class="card-bottom">
          <div class="estimated-time">
              <span>45min</span>
          </div>
          <div class="details">
          <button class="flip-card-btn-turn-to-back" data-action="click->modal#flip">Details <%= image_tag "bouton-jouer.png", class: "card-bottom-toggle"%></button>
          </div>
        </div>
      </div>

      <div class="card-back">
        <div class="card-back-top">
          <h3>Details</h3>
          <button class="flip-card-btn-turn-to-front" data-action="click->modal#flip">&times;</button>
        </div>
        <div class="card-back-text">
          <div class="details-text">
            <p><%= task.desc %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-card-container" data-launch-target="deploy">
    <div class="timer-card">
      <% if task.missions != []  %>
        <%= render 'shared/timer', task: task, mission: task.missions.last%>
      <% end %>
    </div>
    <div class="feedback-card">
      <%=render 'shared/table_card'%>
    </div>
  </div>
</div>
